<section id="footer">
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="col-md-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu lorem, mattis quis convallis ac</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu lorem, mattis quis convallis ac</p>
                  </div>
                  <div class="col-md-3">
                    <h3>TRAVEL NEWS</h3>
                <div class="col-md-4 footer-small-img">
                            <img alt="" src="http://placehold.it/120x120"/>
                        </div>
                        <div class="col-md-8 footer-small-desc">
                            <a href="">Amazing Places</a>
                            <p>Mar 22, 2015 </p>
                            <a class='r-more' href="">read more</a>
                        </div>
                       <div class="clear"></div>
                        <div class="col-md-4 footer-small-img">
                            <img alt="" src="http://placehold.it/120x120"/>
                        </div>
                        <div class="col-md-8 footer-small-desc">
                            <a href="">Amazing Places</a>
                            <p>Mar 26, 2015</p>
                            <a class='r-more' href="">read more</a>
                        </div>
                    <div class="clear"></div>
                        <div class="col-md-4 footer-small-img">
                            <img alt="" src="http://placehold.it/120x120"/>
                        </div>
                        <div class="col-md-8 footer-small-desc">
                            <a href="">Amazing Places</a>
                            <p>Mar 26, 2015</p>
                            <a class='r-more' href="">read more</a>
                        </div>
                  </div>
                  <div class="col-md-3 footer-zone">
                        <h3>CONTACTS</h3>
                        <p><i class="fa fa-map-marker"></i>Address: Broadway Road 35-127</p>
                        <p><i class="fa fa-phone"></i>Phone: +001 3072341187</p>
                        <p><i class="fa fa-envelope-o"></i>Mail: info@lovetravel.com</p>
                        <p><i class="fa fa-globe"></i>travego@world.com</p>
                        <div class="socialfooter">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a></div>
                  </div>

                  <div class="col-md-3">
                    <h3>NEWSLETTER</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu lorem, mattis quis convallis ac</p>

                    <form class="newsletterfooter">
                      <input type="text" />
                        <input type="submit" />
                        <i class="fa fa-angle-right"></i>
                    </form>
                  </div>
                </div>
           </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                    <div class="col-xs-6 copyright">Around Thailand © 2015 All Rights Reserved </div>
                    <div class="col-xs-6 payment-card">
                        <i class="fa fa-2x fa-cc-visa"></i>
                        <i class="fa fa-2x fa-cc-mastercard"></i>
                        <i class="fa fa-2x fa-cc-amex"></i>
                        <i class="fa fa-2x fa-cc-paypal"></i>
                    </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- <section id="footer">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <img class='logo-footer' src='images/travego.png' alt='logo' />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu lorem, mattis quis convallis ac</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu lorem, mattis quis convallis ac</p>
      </div>
      <div class="col-md-3">
        <h3>TRAVEL NEWS</h3>
        <div class="col-md-4 footer-small-img">
          <img alt="" src="http://placehold.it/120x120"/>
        </div>
        <div class="col-md-8 footer-small-desc">
          <a href="">Amazing Places</a>
          <p>Mar 22, 2015 </p>
          <a class='r-more' href="">read more</a>
        </div>
        <div class="clear"></div>
        <div class="col-md-4 footer-small-img">
          <img alt="" src="http://placehold.it/120x120"/>
        </div>
        <div class="col-md-8 footer-small-desc">
          <a href="">Amazing Places</a>
          <p>Mar 26, 2015</p>
          <a class='r-more' href="">read more</a>
        </div>
        <div class="clear"></div>
        <div class="col-md-4 footer-small-img">
          <img alt="" src="http://placehold.it/120x120"/>
        </div>
        <div class="col-md-8 footer-small-desc">
          <a href="">Amazing Places</a>
          <p>Mar 26, 2015</p>
          <a class='r-more' href="">read more</a>
        </div>
      </div>
      <div class="col-md-3 footer-zone">
        <h3>CONTACTS</h3>
        <p><i class="fa fa-map-marker"></i>Address: Broadway Road 35-127</p>
        <p><i class="fa fa-phone"></i>Phone: +001 3072341187</p>
        <p><i class="fa fa-envelope-o"></i>Mail: info@lovetravel.com</p>
        <p><i class="fa fa-globe"></i>travego@world.com</p>
        <div class="socialfooter">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-google"></i></a></div>
        </div>
        
        <div class="col-md-3">
          <h3>NEWSLETTER</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu lorem, mattis quis convallis ac</p>
          
          <form class="newsletterfooter">
            <input type="text" />
            <input type="submit" />
            <i class="fa fa-angle-right"></i>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-xs-6 copyright">Travego © 2015 Name All Rights Reserved </div>
          <div class="col-xs-6 payment-card">
            <i class="fa fa-2x fa-cc-visa"></i>
            <i class="fa fa-2x fa-cc-mastercard"></i>
            <i class="fa fa-2x fa-cc-amex"></i>
            <i class="fa fa-2x fa-cc-paypal"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<%= javascript_include_tag 'modernizr', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery-1.10.1.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery-migrate-1.2.1.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery-ui-1.10.4.custom.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.easing.1.3', 'data-turbolinks-track' => true %>
<!-- waypoint -->
<%= javascript_include_tag 'waypoints.min', 'data-turbolinks-track' => true %>
<!--Preload-->
<script type="text/javascript">
    $(document).ready(function ($) {
        "use strict";
        try {
            var myTimer = 0; clearTimeout(myTimer);
            myTimer = setTimeout(function () { $("#loader-wrapper").slideUp() }, 2000);
        } catch (err) {
        }
    });
</script>
<%= javascript_include_tag 'oxy_slider/main', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %> 
<%= javascript_include_tag 'bootstrap-hover-dropdown.min', 'data-turbolinks-track' => true %>
<!--bxSlider-->
<%= javascript_include_tag 'jquery.bxslider', 'data-turbolinks-track' => true %>
<script type="text/javascript">
$(document).ready(function () {
    "use strict";
    $('.bxslider').bxSlider({
        auto: true
    });
});
</script>

<%= javascript_include_tag 'script', 'data-turbolinks-track' => true %>
<!--Meteo Lib-->
<%= javascript_include_tag 'meteo/jquery.zweatherfeed', 'data-turbolinks-track' => true %>
 <script type="text/javascript">
     $(document).ready(function () {
         "use strict";
         $('#meteo1').weatherfeed(['UKXX0085', 'CAXX0518', 'CHXX0049'], {
             forecast: true
         });
         $('#meteo2').weatherfeed(['ITXX0006', 'CAXX0504', 'JAXX0085'], {
             forecast: true
         });
     });
</script>
