<!doctype html>

<html>
  <head>
    <title>Travego</title>
    <meta charset="utf-8">
    <meta name="description" content="travel, trip, store, shopping, siteweb, cart">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'/>

    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'font-awesome-4.4.0/css/font-awesome', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'jquery-ui-1.10.4.custom.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'settings', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'travel-mega-menu', media: 'all', 'data-turbolinks-track' => true %>
    <!--Carousel-->
    <%= stylesheet_link_tag 'carousel/component', media: 'all', 'data-turbolinks-track' => true %>
    <!--Gallery-->
    <%= stylesheet_link_tag 'gallery/component', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'layout2', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'responsive', media: 'all', 'data-turbolinks-track' => true %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<%= javascript_include_tag 'modernizr', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'jquery-1.10.1.min', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'jquery-migrate-1.2.1.min', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'jquery-ui-1.10.4.custom.min', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'jquery.easing.1.3', "data-turbolinks-track" => true %>
<!--Preload-->
<script type="text/javascript">
    $(document).ready(function ($) {
        "use strict";
        try {
            var myTimer = 0; clearTimeout(myTimer);
            myTimer = setTimeout(function () { $("#loader-wrapper").slideUp() }, 2000);
        } catch (err) {
        }
    });
</script>

<%= javascript_include_tag 'jquery.themepunch.plugins.min', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'jquery.themepunch.revolution.min', "data-turbolinks-track" => true %>
<script type="text/javascript">
    var tpj = jQuery;
    tpj(document).ready(function () {
        "use strict";
        if (tpj.fn.cssOriginal !== undefined)
            tpj.fn.css = tpj.fn.cssOriginal;
        tpj('.fullwidthbanner').revolution(
    {
        delay: 9000,
        startwidth: 1170,
        startheight: 646,
        onHoverStop: "on",
        thumbWidth: 100,
        thumbHeight: 50,
        thumbAmount: 4,
        hideThumbs: 200,
        navigationType: 'none',
        navigationArrows: "verticalcentered",   //nexttobullets, verticalcentered, none
        navigationStyle: "large",
        touchenabled: "on",
        navOffsetHorizontal: 0,
        navOffsetVertical: 20,
        fullWidth: "on",
        shadow: 0
    });
    });
</script>


<%= javascript_include_tag 'bootstrap.min', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'bootstrap-hover-dropdown.min', "data-turbolinks-track" => true %>
<!--Carousel-->
<%= javascript_include_tag 'carousel/modernizr.custom', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'carousel/jquery.cbpContentSlider.min', "data-turbolinks-track" => true %>
<script type="text/javascript">
$(function () {
    "use strict";
    $('#cbp-contentslider').cbpContentSlider();
});
</script>
<!-- Gallery -->
<%= javascript_include_tag 'gallery/imagesloaded.pkgd.min', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'gallery/masonry.pkgd.min', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'gallery/classie', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'gallery/cbpGridGallery', "data-turbolinks-track" => true %>
<script type="text/javascript">
$(function () {
    "use strict";
    new CBPGridGallery(document.getElementById('grid-gallery'));
});
</script>
<%= javascript_include_tag 'waypoints.min', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'script', "data-turbolinks-track" => true %>
  </body>
</html>
